<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Senhas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Senhas.Properties.Settings>
            <setting name="servidor" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="bancoDados" serializeAs="String">
                <value>sistema</value>
            </setting>
            <setting name="usuario" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="senha" serializeAs="String">
                <value>root</value>
            </setting>
        </Senhas.Properties.Settings>
    </userSettings>
</configuration>